<div class="bg-dark pb-5">
  <div class="container py-4 text-info">
    <h2>admin.ejs</h2>
    <div class="btn-row">
      <a href="/create" class="btn btn-primary">create</a>
      <a href="/edit" class="btn btn-warning">edit</a>
      <a href="/create/link" class="btn btn-primary">create link</a>
      <a href="/edit/link" class="btn btn-warning">edit link</a>
    </div>
  </div>
</div>