<div class="bg-dark pb-5">
  <div class="container py-4 text-info">
    <h2>Administration of tracking-qualities.herokuapp.com</h2>
    <div class="btn-row">
      <a href="/create" class="btn btn-primary">create</a>
      <a href="/edit" class="btn btn-warning">edit</a>
      <a href="/create/link" class="btn btn-primary">create link</a>
      <a href="/edit/links" class="btn btn-warning">edit link</a>
    </div>
    <br>
    <div class="btn-row">
      <a href="/admin/login" class="btn btn-secondary">login</a>
      <a href="/admin/register" class="btn btn-secondary">register</a>
    </div>
  </div>
</div>