<footer class="px-5 py-5 text-center">
  <section id="footnotes">
    <p>*This catalogue is non-exhaustive and doesn't claim to be a complete overview on all the resources available.
      <br>
      In case you might know about someone/something that should be added to this catalogue, feel free to contact me: <a href="mailto:<%= mailadress %>"><%= mailadress %></a></p>
  </section>
  <p>This Website has been developed for my Thesis during the Master of Arts in Contemporary Dance Education
    <a href="https://www.hfmdk-frankfurt.info/hochschule/fachbereiche/fb-3-darstellende-kunst/contemporary-dance-education-master-ma-code/" target="_blank">MA CoDE</a>
    <br>
    at Hochschule für Musik und Darstellende Kunst Frankfurt am Main
    <a href="https://www.hfmdk-frankfurt.info/" target="_blank">HfMDK</a>
  </p>
  <ul class="mb-0">
    <li>
      <a href="/datenschutz">Datenschutz</a>
    </li>
    <li>
      <a href="/impressum">Impressum</a>
    </li>
  </ul>
  <div class="credit">
    <ul>
      <li>
        <a href="https://www.pexels.com/de-de/foto/zeitrafferfotografie-von-blauen-lichtern-373543/" target="_blank">Background-Image Blue Lights</a> von <a href="https://www.pexels.com/de-de/@pixabay" target="_blank">Pixabay</a>
      </li>
      <li>
        Background-Image Dancer © <a href="https://www.fotoloft-maciejrusinek.de/" target="_blank">Maciej Rusinek</a>   
      </li>
    </ul>
  </div>
</footer>