<div class="text-center m-5">
  <section id="introduction" class="m-5">
    <div>
      <h3 class="mb-5">Movement Qualities  &  Motion Capture</h3>
      <p>
        Welcome to this online catalogue* on Motion-Tracking in relation to Movement-Qualities
      </p>
      <p>
        This website shall serve as an online-catalogue for
        <ul>
          <li>Artists / Researchers</li>
          <li>Publications (Articles / Books / Videos / ..)</li>
          <li>Institutions / Companies / Organizations</li>
        </ul>
      </p>
      <p>
        All Resources included in this catalogue investigate movement qualities in the field of HCI (Human Computer Interaction) by defining and searching for means of distinguishing movement qualities in data, accessed via sensor-technology, such as motion-tracking devices and others.
      </p>
    </div>
  </section>

  <!-- <section id="query">
  here comes a query
  </section> -->

  <section id="page-links" class="m-5">
    <h4 class="mb-5">find a ressource:</h4>
    <div class="">
      <a href="/artists">Artists & Researchers</a>
    </div>
    <div class="">
      <a href="/publications">Publications</a>
    </div>
    <div class="">
      <a href="/institutions">Institutions / Companies / Organizations</a>
    </div>
  </section>
</div>