<div class="text-center">


  <br>
  <br>
  <br>
  !!! This website is currently under construction !!!
  <br>
  <br>
  <br>
  <br>
  <section id="introduction">
    <div>
      <h3>Movement Qualities  &  Motion Capture</h3>
      <p>
        Welcome to this online catalogue* on Motion-Tracking in relation to Movement-Qualities
      </p>
      <p>
        This website shall serve as an online-catalogue for
        <ul>
          <li>Artists / Researchers</li>
          <li>Publications (Articles / Books / Videos / ..)</li>
          <li>Institutions / Companies / Organizations</li>
        </ul>
      </p>
      <p>
        All Resources included in this catalogue investigate movement qualities in the field of HCI (Human Computer Interaction) by defining and searching for means of distinguishing movement qualities in data, accessed via sensor-technology, such as motion-tracking devices and others.
      </p>
    </div>
  </section>

  <section id="query">
  here comes a query
  </section>

  <section id="page-links">
    <div class="">
      <a href="/artists">Artists & Researchers</a>
    </div>
    <div class="">
      <a href="/publications">Publications</a>
    </div>
    <div class="">
      <a href="/institutions">Institutions / Companies / Organizations</a>
    </div>
  </section>

  <section id="footnotes">
    <p>*This catalogue is non-exhaustive and doesn't claim to be a complete overview on all the players out there</p>
    <p>In case you might know about someone/something that should be added to this catalogue, feel free to contact me: <a href="<%= mailadress %>"><%= mailadress %></a></p>
  </section>

</div>