<h1>From Index.ejs</h1>
<a href="/login">Login</a>
<h2>––––––––––––––––––––––––––––––––––––––––––</h2>

<div class="artists">
  <h4>artists:</h4>
  <ul>
    <% artists.forEach(artist => { %>
      <li>
        <%= artist.name %> 
      </li>
    <% }) %> 
  </ul>
</div>

<div class="publications">
  <h4>publications:</h4>
  <ul>
    <% publications.forEach(publication => { %>
      <li>
        <%= publication.name %>
        <br>
        publicationArtists:
        <ol>
          <% publication.artists.forEach( publicationArtist => { %>
            <li>
              <%= publicationArtist.name %> 
            </li>
            <% }) %> 
        </ol>
      </li>
      –––––––––––––––––
      <br>
    <% }) %> 
  </ul>
</div>