<h2>TRACKING QUALITY</h2>

<section id="introduction">
  <div>
    <h3>Movement Qualities  &  Motion Capture</h3>
    <p>
      Welcome to this digital library* on Motion-Tracking in relation to Movement-Qualities
    </p>
    <p>
      This website shall serve as a digital library on
      <ul>
        <li>Artists / Researchers</li>#
        <li>Publications (Articles / Books / ..)</li>
        <li>Media (Videos)</li>
        <li>Institutions / Companies / Organizations</li>
      </ul>
    </p>
    <p></p>
  </div>
</section>

<section id="query">

</section>

<section id="footnotes">
  <p>*This library is non-exhaustive and doesn't claim a complete overview on all the players out there</p>
  <p>In case you might know about someone/something that should be added to this library, feel free to contact me: <a href="<%= mailadress %>"><%= mailadress %></a></p>
</section>