<h2>Create new Stuff</h2>

<form action="/artists" method="POST">
  <label for="artist">artist</label>
  <input type="text" name="artistName" id="artist-name">
  <button type="submit">Create</button>
</form>

<form action="/publications" method="POST">
  <div>
    <label for="publication">publication</label>
    <input type="text" name="publicationName" id="publication-name">
  </div>
  <div>
    <label>publication artists</label>
    <select name="publicationArtists" multiple>
      <% artists.forEach(artist => { %>
        <% if (artist.id === publication.artist) { %>
          <option selected label="<%= artist.name %>" value="<%= artist.id %>">
        <% } else { %> 
          <option label="<%= artist.name %>" value="<%= artist.id %>">
        <% } %> 
      <% }) %> 
    </select>
  </div>
  <button type="submit">Create</button>
</form>

<form action="/links" method="POST">
  <label for="link">link</label>
  <input type="text" name="linkName" id="link-name">
  <button type="submit">Create</button>
</form>