<h2>Create new Stuff</h2>

<form action="/artists" method="POST">
  <label for="artist">artist</label>
  <input type="text" name="artistName" id="artist-name">
  <button type="submit">Create</button>
</form>
<form action="/publications" method="POST">
  <label for="publication">publication</label>
  <input type="text" name="publicationName" id="publication-name">
  <button type="submit">Create</button>
</form>
<form action="/links" method="POST">
  <label for="link">link</label>
  <input type="text" name="linkName" id="link-name">
  <button type="submit">Create</button>
</form>