a {
  color: rgba(0, 255, 157, 0.801) !important;
}

/* .page nav a, footer a {
  color: rgba(0, 255, 157, 0.808) !important;
} */

.page h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.page h3 {
  font-size: 20px;
}
.page h4 {
  font-size: 18px;
}
.page h5 {
  font-size: 16px;
}
.page li {
  font-size: 14px;
}

.page li > p {
  padding-left: 8px;
}

.page li span, .page li h5 {
  color: rgba(255, 255, 0, 0.705);
}

.page a {
  text-decoration: none;
}
.page a:hover {
  text-decoration: underline;
}

.navbar-container {
  padding: 0px !important;
}

.page-navbar {
  padding: 12px;
  background-color: hsla(210, 11%, 5%, 90%);
  border: 1px solid white;
  border-radius: 4px;
}

.catalogue-item {
  border-bottom: white solid 1px;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}