<h2>
  Datenschutzerklärung
</h2>
<section class="datenschutz page">
  <div class="container">  
    <div class="box-white">
      <div class="box-content wrapper-datenschutz">
        <div class="chapters">
          <h3>
            Grundlegendes
          </h3>
          <p>
            Diese Datenschutzerklärung soll die Nutzer dieser Webseite über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch den Webseitebetreiber (s. <a href="/impressum">Impressum</a>) informieren.
            <br>
            Der Webseitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften. Da durch neue Technologien und die ständige Weiterentwicklung dieser Webseite Änderungen an dieser Datenschutzerklärung vorgenommen werden können, empfehlen wir Ihnen sich die Datenschutzerklärung in regelmäßigen Abständen wieder durchzulesen.
            <br>
            Definitionen der verwendeten Begriffe (z.B. “personenbezogene Daten” oder “Verarbeitung”) finden Sie in Art. 4 DSGVO.
          </p>
        </div>
        <div class="chapters">
          <h3>
            Zugriffsdaten
          </h3>
          <p>
            Wir, der Webseitebetreiber bzw. Seitenprovider, erheben keine Daten. 
            Jedoch können von Seiten des Server-Hosts <a href="https://www.heroku.com/" target="_blank">www.heroku.com</a> aufgrund berechtigten Interesses (s. Art. 6 Abs. 1 lit. f. DSGVO) Daten über Zugriffe auf die Webseite erhoben werden. Diese können als „Server-Logfiles“ auf dem Server der Webseite gespeichert werden. Folgende Daten können werden so protokolliert (genauere Informationen finden Sie auf der Webseite des Server-Hosts und unter <a href="https://devcenter.heroku.com/articles/gdpr" target="_blank">https://devcenter.heroku.com/articles/gdpr</a> ):
          </p>
            <ul>
              <li>Besuchte Webseite</li>
              <li>Uhrzeit zum Zeitpunkt des Zugriffes</li>
              <li>Menge der gesendeten Daten in Byte</li>
              <li>Quelle/Verweis, von welchem Sie auf die Seite gelangten</li>
              <li>Verwendeter Browser</li>
              <li>Verwendetes Betriebssystem</li>
              <li>Verwendete IP-Adresse</li>
            </ul>
        </div>
        <div class="chapters">
          <h3>
            Umgang mit Kontaktdaten
          </h3>
          <p>
            Nehmen Sie mit uns als Webseitebetreiber durch die angebotenen Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.               
          </p>
        </div>
        <div class="chapters">
          <h3>
            Rechte des Nutzers
          </h3>
          <p>
            Sie haben als Nutzer das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche personenbezogenen Daten über Sie gespeichert wurden. Sie haben außerdem das Recht auf Berichtigung falscher Daten und auf die Verarbeitungseinschränkung oder Löschung Ihrer personenbezogenen Daten. Falls zutreffend, können Sie auch Ihr Recht auf Datenportabilität geltend machen. Sollten Sie annehmen, dass Ihre Daten unrechtmäßig verarbeitet wurden, können Sie eine Beschwerde bei der zuständigen Aufsichtsbehörde einreichen.
          </p>
        </div>
        <div class="chapters">
          <h3>
            Löschung von Daten
          </h3>
          <p>
            Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur Aufbewahrung von Daten (z. B. Vorratsdatenspeicherung) kollidiert, haben Sie ein Anrecht auf Löschung Ihrer Daten. Von uns gespeicherte Daten werden, sollten sie für ihre Zweckbestimmung nicht mehr vonnöten sein und es keine gesetzlichen Aufbewahrungsfristen geben, gelöscht. Falls eine Löschung nicht durchgeführt werden kann, da die Daten für zulässige gesetzliche Zwecke erforderlich sind, erfolgt eine Einschränkung der Datenverarbeitung. In diesem Fall werden die Daten gesperrt und nicht für andere Zwecke verarbeitet.
          </p>
        </div>
        <div class="chapters">
          <h3>
            Widerspruchsrecht
          </h3>
          <p>
            Nutzer dieser Webseite können von ihrem Widerspruchsrecht Gebrauch machen und der Verarbeitung ihrer personenbezogenen Daten zu jeder Zeit widersprechen.
            <br>
            Wenn Sie eine Berichtigung, Sperrung, Löschung oder Auskunft über die zu Ihrer Person gespeicherten personenbezogenen Daten wünschen oder Fragen bzgl. der Erhebung, Verarbeitung oder Verwendung Ihrer personenbezogenen Daten haben oder erteilte Einwilligungen widerrufen möchten, wenden Sie sich bitte an folgende E-Mail-Adresse:  <a href="mailto: <%= mailadress %>"><%= mailadress %></a>
          </p>
          <div class="chapters">
            <h3>
              Drittanbieter und Weitergabe von Daten an Dritte
            </h3>
            <p>
              Aufgrund unseres berechtigten Interesses an der Analyse, Optimierung und dem Betrieb unseres Online-Angebotes (im Sinne des Art. 6 Abs. 1 lit. f. DSGVO), verwendet diese Webseite Inhalte von Drittanbietern.
              <br>
              Mit dem Besuch der Webseite werden diese Inhalte von Drittanbietern geladen. Dadurch wird eine Verbindung zur Webseite des jeweiligen Anbieters aufgebaut. Welche Daten von den jeweiligen Anbietern erhoben werden, können Sie in den entsprechenden Datenschutzerklärungen auf der jeweiligen Webseite nachlesen.
            </p>
            <h4>Die Webseite nutzt die Dienste folgender Drittanbieter:</h4>
            <div class="subchapter">
              <h5>
                BOOTSRAP – cdn.jsdelivr.net
              </h5>
              <p>
                Diese Seite nutzt Design-Komponenten von <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>. Beim Aufruf einer Seite lädt Ihr Browser die benötigten CSS und JavaScript Ressourcen (Libraries über die CDN von jsdelivr.net) um die Webseite korrekt anzuzeigen.
                <br>
                Zu diesem Zweck muss der von Ihnen verwendete Browser Verbindung zu den Servern von cdn.jsdelivr.net aufnehmen. Hierdurch erlangt cdn.jsdelivr.net Kenntnis darüber, dass über Ihre IP-Adresse unsere Webseite aufgerufen wurde. Die Nutzung von Bootstrap über cdn.jsdelivr.net erfolgt im Interesse einer einheitlichen und ansprechenden Darstellung unserer Online-Angebote. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.
                <br>
                Weitere Informationen zu Bootstrap und cdn.jsdelivr.net finden Sie unter  und in der Datenschutzerklärung von jsdelivr: <a href="https://www.jsdelivr.com/terms/privacy-policy-jsdelivr-net" target="_blank">https://www.jsdelivr.com/terms/privacy-policy-jsdelivr-net</a>.
              </p>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>